.Box{
  overflow: hidden;
}
.Row{
  display: flex;
  flex-direction: row;
  height: 100px !important;
  width: 100%;
  border: 1px solid black;
  /* overflow-x: hidden; */
}

.Column{
  height: 100px !important;
  width: 25%;
  border: 1px solid black;
  color: white;
  background-color: blue;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Red{
  background-color: red;
}